<div class="pdp-wrapper lg:flex lg:flex-row-reverse">
  <div class="swiper pdp-image-gallery lg:!w-2/4">
    <div class="swiper-wrapper">
      {% for image in product.images %}
        <div class="swiper-slide pdp-image first:pl-[1.6rem] first:lg:pl-0 last:pr-[1.6rem] last:lg:pr-0">
          <picture>
            <img
              src="{{ image | image_url }}"
              width="100%"
              height="100%"
              class="fit-image" />
          </picture>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination relative top-auto mt-4"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev lg:!block"></div>
    <div class="swiper-button-next lg:!block"></div>
  </div>

  <div class="lg:!w-2/4 py-[3.2rem] px-[1.6rem] lg:py-[6.4rem] lg:px-16">

    <h1 class="text-[2.4rem] leading-[3.2rem] lg:text-[4rem] lg:leading-[6.4rem]">
      {{ product.title }}
    </h1>

    <p>
      {{ product.description }}
    </p>

    <p class="m-0 text-[1.6rem] leading-[2.4rem] lg:text-[1.8rem]">{{ product.price | money_with_currency }}</p>

    {% if product.variants.size > 1 %}
      {% for _variant in product.options_with_values %}
        <div class="mt-8">

          <h2 class="my-0 mb-4">{{ _variant.name }}</h2>

          {% for _variant_opt in _variant.values %}
            <label for="{{ _variant_opt }}">
              <input
                type="radio"
                data-variant-{{_variant.name | downcase}}
                id="{{ _variant_opt }}"
                value="{{ _variant_opt }}"
                name="{{ _variant.name }}"
                {% if forloop.first %}
                checked
                {% endif %}>
              {{ _variant_opt }}
            </label>
          {% endfor %}
        </div>
      {% endfor %}
    {% endif %}

    <div class="flex">
      <pdp-quantity class="flex border-[1px] border-solid border-black w-fit mt-8">
        <button
          class="quantity__button no-js-hidden"
          name="minus"
          type="button"
          id="decrement-quantity">
          <span class="visually-hidden">
            {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
          </span>
          {% render 'icon-minus' %}
        </button>
        <input
          class="quantity__input w-[4rem] text-[1.6rem] lg:text-[2rem]"
          type="number"
          name="quantity"
          id="pdp-quantity"
          value="1"
          readonly />
        <button
          class="quantity__button no-js-hidden"
          name="plus"
          type="button"
          id="increment-quantity">
          <span class="visually-hidden">
            {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
          </span>
          {% render 'icon-plus' %}
        </button>
      </pdp-quantity>
      <input
        name="id"
        type="hidden"
        id="variant-id"
        value="{{ product.selected_or_first_available_variant.id }}">

      <button id="add-to-cart" class="bg-sky-900 flex justify-center items-center text-white py-4 lg:px-24 mt-8 uppercase ml-4 g:ml-6 w-full">Add to cart</button>
    </div>
  </div>
</div>

<script src="{{'pdp-buy-box.js' |  asset_url}}"  defer></script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {% if seo_media -%}
      "image" : [{{ seo_media | image_url: width: 1920 | prepend: "https:" | json }}],
      {%- endif %}
      "description": {{ product.description | strip_html | json }},
      {% if product.selected_or_first_available_variant.sku != blank -%}
        "sku": {{ product.selected_or_first_available_variant.sku | json }},
        {%- endif %}
        "brand": {
          "@type": "Brand",
          "name": {{ product.vendor | json }}
        },
        "offers": [
                  {%- for variant in product.variants -%}
            {
                      "@type": "Offer",
                      {%- if variant.sku != blank -%}
                "sku": {{ variant.sku | json }},
                      {%- endif -%}
                {%- if variant.barcode.size == 12 -%}
                  "gtin12": {{ variant.barcode }},
                      {%- endif -%}
                  {%- if variant.barcode.size == 13 -%}
                    "gtin13": {{ variant.barcode }},
                      {%- endif -%}
                    {%- if variant.barcode.size == 14 -%}
                      "gtin14": {{ variant.barcode }},
                      {%- endif -%}
                      "availability": "http://schema.org/{% if variant.available %} InStock{% else %}OutOfStock{% endif %}",
                      "price": {{ variant.price | divided_by: 100.00 | json }},
                      "priceCurrency": {{ cart.currency.iso_code | json }},
                      "url": {{ request.origin | append: variant.url | json }}
                    }{% unless forloop.last %},{% endunless %}
                  {%- endfor -%}
                ]
              }
</script>

<script>
  var variants = {
    {% for _variant_id in product.variants %}
      {{ _variant_id.title | json | replace: " \/ " , '-' }} : {{ _variant_id.id }}{% unless forloop.last == true %},{% endunless %}
    {% endfor %}
  }
</script>


<style>
  .swiper,
  .pdp-image-gallery {
    width: 100%;
  }

  .pdp-image {
    width: 28.4rem;
    height: 28.4rem;
  }

  .fit-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .swiper-wrapper {
    height: calc(100% - 4rem);
    margin-top: 1rem;
  }

  @media (min-width: 1024px) {
    .pdp-image {
      width: 62.4rem;
      height: 62.4rem;
    }
  }

</style>

{% schema %}
  {
    "name": "LTI PDP Demo",
    "settings": [
      {
        "type": "text",
        "id": "pdp_header",
        "label": "Header"
      }
    ],
    "blocks": [
      {
        "name": "Recommendations",
        "type": "Recommendations",
        "settings": [
          {
            "type": "product",
            "id": "product_details",
            "label": "Product details"
          },
          {
            "type": "text",
            "id": "short_description",
            "label": "Product short description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "LTI_PDP"
      }
    ]
  }
{% endschema %}
